*{
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    height: 100%;
    font-family: montserrat, sans-serif;
    margin: 8px 4%;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    color: #f5f5f5;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}


/* Search bar and Unit settings */
.search-and-setting{
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: right ;
    align-items: center;
}

.search-and-setting__search-bar{
    position: relative;
    width: clamp(130px, 18%, 250px);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 1.1rem;
}


.location-error{
    display: none;
    position: absolute;
    width: 100%;
    top: 2rem;
    padding-left: 0.5rem;
    font-size: 0.7rem;
}


#search-bar{
    width: 100%;
    height: 32px;
    padding: 0 clamp(12px, 2%, 15px);
    font-size: 1em;
    background: transparent;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#search-bar::placeholder{
    color: white;
    opacity: 0.7;
}

#search-icon{
    width: 20px;
    margin-left: -24px;
    cursor: pointer;
}

.search-and-setting__setting{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
}

@media screen and (max-width: 700px) {
    .search-and-setting__setting {
        font-size: 1rem;
    }
  }

/* Location and date */
.location-and-date{
    width: 100%;
}

h1#location-and-date__location{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

#location-and-date__current-date, #location-and-date__current-time{
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
}


/* Weather */

.weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}


/* temperature */
.weather__temperature{
    display: flex;
    font-size: 0;
    align-items: center;
    gap: 2.5rem;
}

.weather__temperature__icon-container{
    text-align: center;
    width: 7rem;
}



#weather__temperature__value{
    font-size: 3rem;
    font-weight: 700;
}

#weather__temperature__summary{
    font-size: 1.3rem;
}

/* weather-details */

.weather__details-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    /* margin-top: 1rem; */
}

.weather__details-container > div{
    display: flex;
    gap: 2rem;
    justify-content: center;

}


.weather-detail{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0;
}

.weather-detail__icon{
    width: 2rem;
}


.weather-detail__label{
    font-size: 0.75rem;
    font-weight: 700;
}

.weather-detail__value{
    font-size: 1.7rem;
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    .weather-detail__value {
        font-size: 1.2rem;
    }

    .weather__details-container > div{
        gap: 2rem;
    }
  }


/* forecast */
.forecast{
    margin-top: 2rem;
    width: 100%;
}

.forecast-header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}


.forecast-header__daily, .forecast-header__hourly{
    font-size: 1.2rem;
    padding: .5rem;
    margin-bottom: -3px;
    border-radius: 2px;
    cursor: pointer;
}


.header-selected{
    border-bottom: 4px solid white;
}

.forecast__daily{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forecast__hourly{
    display: block;
}


.forecast__hourly_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forecast__daily_day, .forecast__hourly_day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.forecast__hourly_day{
    gap: 0.8rem;
}

.forecast__daily_day .day{
    font-size: 1.3rem;
    font-weight: 600;
}

.forecast__hourly_day .hour{
    font-size: 0.8rem;
    font-weight: 600;
}

.forecast__daily_high, .forecast__hourly_temperature{
    font-size: 1.4rem;
    font-weight: 700;
}

.forecast__daily_low{
    font-size: 0.9rem;
    font-weight: 600;
}

.forecast_daily_icon, .forecast_hourly_icon{
    width: 2.5em;
}

.forecast-scroll > .scroll{
    display: flex;
    font-size: 0;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;
}

.dot{
    width: 6px;
    height: 6px;
    margin: 0 4px;
    border-radius: 50%;
    border: 1px solid white;
}

.scroll-arrow{
    width: 0.75rem;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .forecast{
        width: 80%;
        margin-right:  auto;
        margin-left: auto;
    }

    .forecast-header{
       justify-content: center;
    }
    .forecast__daily, .forecast__hourly_container{
        flex-direction: column;
        border: 1px solid cyan;
    }

    .forecast__daily_day, .forecast__hourly_day{
        width: 100%;
        gap: 0.8rem;
        flex-direction: row;
        justify-content: space-around;

        border: 1px solid darkmagenta;
    }

    .forecast__daily_day .day, .forecast__hourly_day .hour{
        flex-grow: 1;
    }

    .forecast_daily_icon, .forecast_hourly_icon{
        margin-left: 0.5rem;
    }
  }





.inactive{
    display: none;
}

.dot-active{
    background-color: white;
}